* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
div {
	width: 70%;
	margin: auto;
	border-width: 10px;
	border-style: outset;
	padding: 10px;
}

img {
	width: 100%;
	margin: auto;
}
video {
	margin: 15%;
}